<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.1.17" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.17" targetFramework="net461" />
  <package id="Node.js" version="5.3.0" targetFramework="net461" />
  <package id="NoGit" version="0.1.0" targetFramework="net461" />
  <package id="Npm" version="3.5.2" targetFramework="net461" />
</packages>